<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Shipit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="Shipit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <connectionStrings>
      <add name="Shipit.Properties.Settings.CourierDetailsConnectionString"
          connectionString="Data Source=192.168.1.29;Initial Catalog=CourierDetails;Persist Security Info=True;User ID=sa;Password=sreenath"
          providerName="System.Data.SqlClient" />
      <add name="Shipit.Properties.Settings.webstring" connectionString="Data Source=213.42.60.233;Initial Catalog=CourierDetails;Persist Security Info=True;User ID=sa;Password=Sreenath@123;Connect Timeout=900"
          providerName="System.Data.SqlClient" />
      <add name="Shipit.Properties.Settings.ArtConnectionString" connectionString="Data Source=192.168.1.4;Initial Catalog=Art;Persist Security Info=True;User ID=sa;Password=Sreenath@123"
          providerName="System.Data.SqlClient" />
      <add name="ArtEntities" connectionString="metadata=res://*/DataModels.ArtDataModel.csdl|res://*/DataModels.ArtDataModel.ssdl|res://*/DataModels.ArtDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.4;initial catalog=Art;persist security info=True;user id=sa;password=Sreenath@123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="ArtEntitiesWeb" connectionString="metadata=res://*/DataModels.ArtDataModel.csdl|res://*/DataModels.ArtDataModel.ssdl|res://*/DataModels.ArtDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=213.42.60.233;initial catalog=Art;persist security info=True;user id=sa;password=Sreenath@123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="Shipit.Properties.Settings.ArtConnectionString1" connectionString="Data Source=ATRACO-SVR-003\HONEWSERVER;Initial Catalog=Art;User ID=sa;Password=Sreenath@123"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <Shipit.Properties.Settings>
        <setting name="teststring" serializeAs="String">
            <value>Data Source=APPSATRACODB2\APPDBSERVER;Initial Catalog=CourierDetails;Persist Security Info=True;User ID=sa;Password=sreenath;Connect Timeout=900</value>
        </setting>
        <setting name="Officelog" serializeAs="String">
            <value>\\it-dept\Project\SHIPITTEST\</value>
        </setting>
        <setting name="Remotelog" serializeAs="String">
            <value>\\213.42.33.230 \Project\SHIPITTEST\</value>
        </setting>
        <setting name="WebOrginconnectionString" serializeAs="String">
            <value>Data Source=197.232.31.250; Initial Catalog=DB_Orgin;Persist Security Info=True;User ID=sa;Password=admin_123</value>
        </setting>
    </Shipit.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<applicationSettings>
        <Shipit.Properties.Settings>
                <setting name="WebARTConnectionString" serializeAs="String">
                        <value>Data Source=213.42.60.233;Initial Catalog=Art;Persist Security Info=True;User ID=sa;Password=Sreenath@123</value>
                </setting>
                <setting name="OrginconnectionString" serializeAs="String">
                        <value>Data Source=192.168.1.250;Initial Catalog=DB_Orgin;Persist Security Info=True;User ID=sa;Password=admin_123</value>
                </setting>
        </Shipit.Properties.Settings>
    </applicationSettings>
</configuration>