<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net40" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net40" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net40" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net40" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.Windows" version="11.0.3452" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Types" version="11.0.2" targetFramework="net40" />
</packages>